@font-face {
  font-family: 'Elsie';
  src: url(./fonts/Elsie-Regular.ttf);
}
@font-face {
  font-family: 'Roboto';
  src: url(./fonts/Roboto-Thin.ttf);
}
@font-face {
  font-family: 'Clash';
  src: url(./fonts/ClashDisplay-Medium.ttf);
}
body {
  background-image: url('./image/background.jpg');
  background-size: cover;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul, ol {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}
:root {
  --blue: rgb(68, 121, 251);
  --elsie: 'Elsie';
  --roboto: 'Roboto';
  --with: rgb(248,249, 251);
  --clash: 'Clash';
  --grey: rgb(234, 234, 234);
}